In [2]:
import pandas as pd

In [3]:
# Create a sample DataFrame
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]}, index=['X', 'Y', 'Z'])

print("original_data")
display(df)
# Select a single row with label 'Y'
row_y = df.loc['Y']
display(row_y)

# Select a range of rows from 'Y' to 'Z'
rows_xyz = df.loc['Y':'Z']
display(rows_xyz)

original_data

   A  B
X  1  4
Y  2  5
Z  3  6

A    2
B    5
Name: Y, dtype: int64

   A  B
Y  2  5
Z  3  6

In [4]:
# Create a sample DataFrame
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]}, index=['X', 'Y', 'Z'])

print("original_data")
display(df)

# Select column 'A'
column_a = df.loc[:, 'A']
display(column_a)

# Select a range of columns from 'A' to 'B'
columns_ab = df.loc[:, 'B':'C']
display(columns_ab)

original_data

   A  B  C
X  1  4  7
Y  2  5  8
Z  3  6  9

X    1
Y    2
Z    3
Name: A, dtype: int64

   B  C
X  4  7
Y  5  8
Z  6  9

In [5]:
# Create a sample DataFrame
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]}, index=['X', 'Y', 'Z'])

print("original_data")
display(df)

# Select value at row 'Y' and column 'A'
value_y_a = df.loc['Y', 'A']
print(value_y_a)

# Select value at row 'Z' and column 'B'
value_y_a = df.loc['Z', 'B']
print(value_y_a)

original_data

   A  B  C
X  1  4  7
Y  2  5  8
Z  3  6  9

2
6

In [6]:
# Create a sample DataFrame
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]}, index=['X', 'Y', 'Z'])

print("original_data")
display(df)

# Select rows where values in column 'A' are greater than 1
greater_than_1 = df.loc[df['A'] > 1]
display(greater_than_1)

# Select rows where values in column 'A' are greater than 1
greater_than_1 = df.loc[(df['A'] > 1) & (df['B'] > 5)]
display(greater_than_1)

original_data

   A  B  C
X  1  4  7
Y  2  5  8
Z  3  6  9

   A  B  C
Y  2  5  8
Z  3  6  9

   A  B  C
Z  3  6  9

In [7]:
######  Integer-based Indexing with iloc[]: You can select data by integer location.  ######

In [8]:
# Create a sample DataFrame
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})

print("original_data")
display(df)

print("Select a single row at index 1")
row_1 = df.iloc[1]
display(row_1)

print("Select a range of rows from index 0 to 1")
rows_01 = df.iloc[0:2]
display(rows_01)

display("Select column at index 1")
column_1 = df.iloc[:, 1]
display(column_1)

display("Select a range of columns from index 0 to 1")
columns_01 = df.iloc[:, 0:2]
display(columns_01)

display("Select value at row 1 and column 1")
value_1_1 = df.iloc[1, 1]
display(value_1_1)

display("Select rows where values in column 'A' are greater than 1")
greater_than_1 = df.iloc[(df['A'] > 1).values]
display(greater_than_1)

display("Select rows where values in column 'A' are greater than 1 and in Column 'B' are greater than 5")
greater_than_1 = df.iloc[((df['A'] > 1).values) & ((df['B'] > 5).values)]
display(greater_than_1)

original_data

   A  B
0  1  4
1  2  5
2  3  6

Select a single row at index 1

A    2
B    5
Name: 1, dtype: int64

Select a range of rows from index 0 to 1

   A  B
0  1  4
1  2  5

'Select column at index 1'

0    4
1    5
2    6
Name: B, dtype: int64

'Select a range of columns from index 0 to 1'

   A  B
0  1  4
1  2  5
2  3  6

'Select value at row 1 and column 1'

5

"Select rows where values in column 'A' are greater than 1"

   A  B
1  2  5
2  3  6

"Select rows where values in column 'A' are greater than 1 and in Column 'B' are greater than 5"

   A  B
2  3  6

In [9]:
###### Boolean Indexing: You can select data based on boolean conditions. #######

In [10]:
# Create a sample DataFrame
df = pd.DataFrame({'A': [1, 2, 3, 4], 'B': [5, 6, 7, 8]})

print("original_data")
display(df)

print("Define boolean condition")
condition = df['A'] > 2
display(condition)

display("Use boolean mask for indexing")
selected_rows = df[condition]
display(selected_rows)

display("Define combined boolean condition")
combined_condition = (df['A'] > 2) & (df['B'] < 8)
display(combined_condition)

display("Use combined condition for indexing")
selected_rows_combined = df[combined_condition]
display(selected_rows_combined)

display("Directly apply boolean condition for indexing")
selected_rows_direct = df[df['A'] > 2]
display(selected_rows_direct)

original_data

   A  B
0  1  5
1  2  6
2  3  7
3  4  8

Define boolean condition

0    False
1    False
2     True
3     True
Name: A, dtype: bool

'Use boolean mask for indexing'

   A  B
2  3  7
3  4  8

'Define combined boolean condition'

0    False
1    False
2     True
3    False
dtype: bool

'Use combined condition for indexing'

   A  B
2  3  7

'Directly apply boolean condition for indexing'

   A  B
2  3  7
3  4  8

In [11]:
######## Fancy Indexing: You can select specific rows or columns using lists of indices. ##########

In [14]:
# Create a sample DataFrame
df = pd.DataFrame({'A': [1, 2, 3, 4], 'B': [5, 6, 7, 8]})

print("original_data")
display(df)
# Define a list of row indices to select
rows_to_select = [0, 2]

print("Use fancy indexing for selecting specific rows")
selected_rows = df.iloc[rows_to_select]
print(selected_rows)

columns_to_select = [0]

print("Use fancy indexing for selecting specific columns")
selected_columns = df.iloc[:, columns_to_select]
print(selected_columns)

rows_to_select = [0, 2]
columns_to_select = [1]

print("Use fancy indexing for selecting specific rows and columns simultaneously")
selected_elements = df.iloc[rows_to_select, columns_to_select]
print(selected_elements)

original_data

   A  B
0  1  5
1  2  6
2  3  7
3  4  8

Use fancy indexing for selecting specific rows
   A  B
0  1  5
2  3  7
Use fancy indexing for selecting specific columns
   A
0  1
1  2
2  3
3  4
Use fancy indexing for selecting specific rows and columns simultaneously
   B
0  5
2  7